<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>晒单分享</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link href="{$web_tplpath}css/ratchet.min.css" rel="stylesheet">
	<link href="{$web_tplpath}css/app.css" rel="stylesheet"></head>
<body>
	<header class="bar bar-nav">
		<a href="javascript:history.back();" class="icon icon-left pull-left" data-transition="slide-out"></a>
		<h1 class="title">晒单分享</h1>
		<a href="{:U('index/index')}" class="icon icon-home pull-right"></a>
	</header>

	<include file="{$web_tplpath}/nav.html" />
	<div class="content wtback">
		<div class="scroll">
			<notempty name="displays">
			<div id="displays" url="{:U('user/displays?uid='.I('uid'))}">
				<volist name="displays" id="vo">
					<ul class="table-view bottom-no-border">
					<li class="table-view-divider history-ls">
						<a href="{$vo['user_url']}"><img class="media-object pull-left user-img" src="{$vo.img}"></a>
						<div class="media-body">
							获 奖 者：<a href="{$vo['user_url']}">{$vo.name}</a>
							<small class="green">（{$vo.address}）</small>
							<a href="{$vo['url']}">
							<p>
								幸运号码：
								<span class="red">{$vo.kaijang_num}</span>
								<br>
								本期参与：
								<span class="red">{$vo.count}</span>
								人次
							</p>
							<p>{:str_replace(C("WEB_SITE_TITLE"),$web_title,$vo['content'])}</p>
							<volist name="vo.thumbpic" id="pic">
								<div class="col-sm-3 prod-padding">
									<div class="up-img-zy">
										<img src="{$pic}" class="img-circlea"></div>
								</div>
							</volist>
							</a>
						</div>
					</li>
					</ul>
				</volist>
			</div>
			<else/>
			<div class="col-sm-12 no-shared">
				<div class="col-sm-12"><span class="demo-icon icon-paper-plane-2"></span> TA还没有晒过单。</div>
			</div>
			</notempty>
		</div>
	</div>
<script type="text/javascript">var htmltype='displays',tplpath='{$web_tplpath}';</script>
<script src="{$web_tplpath}js/jquery.min.js"></script>
<script src="{$web_tplpath}js/dropload.min.js"></script>
<script src="{$web_tplpath}js/app.js"></script>
</body>
</html>