<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新手欢迎页</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="{$web_tplpath}css/ratchet.min.css" rel="stylesheet">
    <link href="{$web_tplpath}css/app.css" rel="stylesheet">
    <link href="{$web_tplpath}css/explain.css" rel="stylesheet">
  </head>
  <body>

    <header class="bar bar-nav">
      <a class="icon icon-left pull-left" href="javascript:history.back();"></a>
      <h1 class="title">欢迎</h1>
    </header>

    <div class="content newsbg1">
        <div class="newbody">
            <img src="{$web_tplpath}images/news01.jpg">
            <img src="{$web_tplpath}images/news02.jpg">
            <img src="{$web_tplpath}images/news03.jpg">
            <img src="{$web_tplpath}images/news04.jpg">
        </div>
    
    </div>

  </body>
</html>