<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>往期揭晓</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="{$web_tplpath}css/ratchet.min.css" rel="stylesheet">
  <link href="{$web_tplpath}css/app.css" rel="stylesheet">
  <style>
    #history .table-view {margin-bottom: 10px;}
  </style>
</head>
<body class="eee">
  <header class="bar bar-nav">
    <a href="javascript:history.back();" class="icon icon-left pull-left" data-transition="slide-out"></a>
    <h1 class="title">往期揭晓</h1>
    <a href="{:U('index/index')}" class="icon icon-home pull-right"></a>
  </header>
  <include file="{$web_tplpath}/nav.html" />
  <div class="content">
    <div class="scroll">
      <notempty name="history">
      <div id="history" url="{:U('shop/history?sid='.I('sid'))}">
        <volist name="history" id="vo">
          <ul class="table-view <elt name="i" value="1">top1</elt>
          ">
          <li class="table-view-cell">
            <a href="{:U('shop/over?id='.$vo['pid'])}" class="navigate-right">
              第{$vo.no}期
              <small>揭晓时间：{$vo.time}</small>
            </a>
          </li>
          <li class="table-view-divider history-ls">
            <a href="{$vo.user_url}">
              <img class="media-object pull-left user-img" src="{$vo.img}">
              <div class="media-body">
                获 奖 者：{$vo.name}
                <small class="green">（{$vo.address}）</small>
                <p>
                  幸运号码：
                  <span class="red">{$vo.kaijang_num}</span>
                  <br>
                  本期参与：
                  <span class="red">{$vo.count}</span>
                  人次
                </p>
              </div>
            </a>
          </li>
        </ul>
      </volist>
    </div>
    <else/>
      <div class="col-sm-12 no-shared">
        <div class="col-sm-12"><span class="demo-icon icon-paper-plane-2"></span> TA还没有数据。</div>
      </div>
    </notempty>
  </div>
</div>
<script type="text/javascript">var htmltype='history',tplpath='{$web_tplpath}';</script>
<script src="{$web_tplpath}js/jquery.min.js"></script>
<script src="{$web_tplpath}js/dropload.min.js"></script>
<script src="{$web_tplpath}js/app.js"></script>
</body>
</html>