<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>产品详情</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <css href="{$web_tplpath}css/ratchet.min.css" />
    <css href="{$web_tplpath}css/app.css" />
<body>

    <header class="bar bar-nav">
        <a href="javascript:history.back();" class="icon icon-left pull-left"></a>
        <h1 class="title">产品详情</h1>
        <a href="{:U('index/index')}" class="icon icon-home pull-right"></a>
    </header>

    <nav class="bar bar-tab">
        <if condition="($ten_restrictions_num-$no_count elt 0) and ($ten_restrictions gt 0)">
            <div class="col-sm-12 text-center red">
                <span class="demo-icon icon-info-circled"></span> 您已达到限购数量,请下期继续购买！
            </div>
        <else/>
            <form action="{:U('pay/index')}" method="post">
                <div class="col-sm-6">
                    <div class="cartsa carts-left" id="minus">
                        <span class="demo-icon icon-minus"></span>
                    </div>
                    <div class="carts">
                        <input value="{$id}" name="pid" type="hidden">
                        <input type="number" value="{$ten_unit}" price="{$price}" unit="{$ten_unit}" surplus="{$surplus}" limit="{$ten_restrictions_num-$no_count}" name="number">
                    </div>
                    <div class="cartsa carts-right" id="plusa">
                        <span class="demo-icon icon-plusa"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-negative btn-80" type="submit">立即购买</button>
                </div>
            </form>
        </if>
    </nav>
    <div class="content wtback">
        <div class="scroll">
            <notempty name="ten_name"><div class="zhuanq">{$ten_name}</div></notempty>
            <eq name="ten_restrictions" value="1"><span class="flag shop">限购{$ten_restrictions_num}人次</span></eq>
            <div class="slider">
                <div class="slide-group">
                    <div class="slide product-topimg">
                        <img src="{$pic}"></div>
                </div>
            </div>

            <div class="container-fluid float-left border-bottom">
                <div class="col-sm-12 prod-padding">
                    <span class="label label-red-border">进行中</span>
                    (第{$no}期) {$name}
                </div>
                <div class="col-sm-12 prod-padding">
                    <div class="progress">
                        <span class="orange" style="width: {$jd}%;"></span>
                    </div>
                </div>
                <div class="col-sm-6 prod-padding">总需{$price}人次</div>
                <div class="col-sm-6 prod-padding text-right">
                    剩余
                    <span class="blue">{$surplus}</span>
                </div>
                <div class="col-sm-12 prod-padding">
                    <span class="label label-fulla">
                        <empty name="user_no">
                            您没有参与本次夺宝哦!
                            <else />
                            您参与了：
                            <span class="red">{$user_no|count}</span>
                            人次
                            <br>
                            <div class="numbers">夺宝号码：</div><br>
                            <volist name="user_no" id="no"><div class="numbers">{$no}</div></volist>
                        </empty>
                    </span>
                </div>
            </div>
            <div class="clear-left"></div>

            <ul class="table-view top10">
                <li class="table-view-cell">
                    <a href="{$moreurl}" class="navigate-right">
                        图文详情
                        <small>建议在wifi下查看</small>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a href="{:U('shop/history?sid='.$sid)}" class="navigate-right">往期揭晓</a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-shared">分享本页</a>
            </li>
        </ul>

        <ul class="table-view" id="record" url="{:U('shop/record?pid='.$id)}">
            <li class="table-view-cell">
                所有参与记录
                <small>（自{$time}开始）</small>
            </li>
            <volist name="record['list']" id="vo">
                <li class="table-view-cell media right-no-padding">
                    <a href="{:U('user/user?id='.$vo['id'])}">
                        <img class="media-object pull-left user-img" src="{$vo.img}">
                        <div class="media-body">
                            {$vo.name}
                            <small>（{$vo.address}）</small>
                            <p>
                                参与了
                                <span class="red">{$vo.count}</span>
                                人次
                                <small>{$vo.time}</small>
                            </p>
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
</div>
<div class="backdrops" id="navshared">
    <div class="fx">
        <img src="{$web_tplpath}images/fx.png">
    </div>
</div>

<script src="{$web_tplpath}js/jquery.min.js"></script>
<script type="text/javascript">
    var htmltype='record';
    $('#minus').click(function(){
        var num=parseInt($('input[name="number"]').val());
        var unit=parseInt($('input[name="number"]').attr('unit'));
        if(num>unit){
          $('input[name="number"]').val(num-unit);
        }
    });
    $('#plusa').click(function() {
        var num=parseInt($('input[name="number"]').val());
        var unit=parseInt($('input[name="number"]').attr('unit'));
        var limit=parseInt($('input[name="number"]').attr('limit'));
        var val=num+unit;
        if(limit>0 && val>limit){
            val=limit;
        }
        $('input[name="number"]').val(val);
    });
    $('form').submit(function(event) {
        var surplus = $('input[name="number"]').attr('surplus');
        var price = parseInt($('input[name="number"]').val());
        var limit=parseInt($('input[name="number"]').attr('limit'));
        if(price<1){
            $('input[name="number"]').val(1);
        }
        if(limit>0 && price>limit){
            $('input[name="number"]').val(limit);
        }
        if(price>surplus){
            $('input[name="number"]').val(surplus);
        }
    });
</script>
<script src="{$web_tplpath}js/dropload.min.js"></script>
<script src="{$web_tplpath}js/app.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{$web_tplpath}js/share.js"></script>
</body>
</html>